@import "../../Styles/ref";

.about {
  margin-top: 25px;

  .logo {
    margin-bottom: 25px;

    background: url("../../assets/images/logo-about.png") no-repeat;
    width: 357px;
    height: 52px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      margin: 20px 0 20px;

      p {
        width: 100%;
      }

      .dash {
        display: block;
        width: 50px;
        margin-right: 20px;
        border-top: 2px solid $color-primary;
        margin-top: 18px;
      }
    }
  }
}