@import "../../Styles/ref";

.welcome {
  $break-size: $screen-sm-max;

  @include size(100%);

  .billboard {
    position: absolute;
    top: 30%;
    display: flex;
    width: 100%;
    color: white;

    @media (max-width: $break-size) {
      top: 20%;
      align-items: center;
      flex-direction: column;
      * {
        margin-bottom: 26px;
      }
    }

    .brand {
      background-image: url("../../assets/images/lunchteam-logo.png");
      width: 255px;
      height: 146px;
      position: relative;
    }

    .dash {
      font-weight: bold;
      font-size: 3.2em;
    }

    .slogan {
      .join {
        margin-top: 14px;
      }

      @media (max-width: $break-size) {
        text-align: center;
      }
    }
  }

  .imp {
    position: absolute;
    bottom: 0;
    right: 0;

    @media (max-width: $screen-xs-min), (max-height: $screen-xs-max) {
      display: none;
    }
  }
}
