@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app"></div>

@section scripts {
    <environment Names="Staging,Production">
        <script src="~/app.bundle.js" asp-append-version="true"></script>
    </environment>
    <environment Names="Development">
        <script src="http://localhost:7890/bootstrap.bundle.js" asp-append-version="true"></script>
        <script src="http://localhost:7890/app.bundle.js" asp-append-version="true"></script>
    </environment>
}