@import "../../../Styles/ref";

.stepper {
  $progress-circle-size: 42px;
  $progress-active-color: $color-primary;
  $progress-accent-color: #ddd;
  $border-size: 2px;

  counter-reset: step;
  padding: 0;
  overflow: hidden;
  position: relative;

  li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    color: $progress-accent-color;

    &:before {
      content: counter(step);
      counter-increment: step;
      width: $progress-circle-size;
      height: $progress-circle-size;
      line-height: ($progress-circle-size - $border-size*2 - 2px);
      border: $border-size solid $progress-accent-color;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $progress-accent-color;
      top: $progress-circle-size/2;
      left: -100%;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &.active {
      color: $progress-active-color;
    }

    &.active:before {
      border-color: $progress-active-color;
      color: $progress-active-color;
    }

    &.active:after {
      //background-color: $progress-active-color;
    }

    &:nth-child(odd):after {
      //for debug
      //background-color: $progress-active-color;
    }

    //
    &:first-child {
      text-align: left;

      &:before {
        content: "1";
        margin: 0 auto 10px 0;
      }
    }

    &:nth-child(2) {
      &:before {
        content: "2";
      }

      &:after {
        left: -100%;
        width: 150%;
      }
    }

    &:last-child {
      text-align: right;

      &:before {
        content: "3";
        margin: 0 0 10px auto;
      }

      &:after {
        left: -50%;
        width: 150%;
      }
    }

    //
    &.passed:before, &.failed:before {
      color: white;
      background-color: #e4e5e6;
      border-color: #e4e5e6;
      line-height: ($progress-circle-size - $border-size*2 + 1px);
    }

    &.passed:before {
      content: '✔';
    }

    &.failed:before {
      content: '✖';
    }
  }
}