---
subject: Поздравляем! Ты в команде!
---

<row class="collapse">
    <columns>
        <center>
            <img src="{{config.baseUrl}}/assets/img/winners-logo.jpg" alt="Поздравляем!"
                 width="297" height="237">
        </center>
    </columns>
</row>

<row>
    <columns>
        <row>
            @foreach (var m in Model.Take(2)) {
                {{> user-card }}
            }
        </row>
        <row>
            @foreach (var m in Model.Skip(2)) {
                {{> user-card }}
            }
        </row>
    </columns>
</row>

<row class="contest-winner-congrats">
    <columns class="contest-winner-congrats_what-to-do">
        <p>Что дальше?</p>
        <p>
            <span class="accent">1.&nbsp;</span>Договоритесь куда сходить;
        </p>
        <p>
            <span class="accent">2.&nbsp;</span>Проведите время весело и&nbsp;с&nbsp;пользой;
        </p>
        <p>
            <span class="accent">3.&nbsp;</span>Попросите официанта сделать ваше фото
        </p>
        <p>
            <span class="accent">4.&nbsp;</span>Принесите чек и&nbsp;фото в&nbsp;бухгалтерию.
        </p>
        <p>(Максимальный чек на&nbsp;возмещение 1500р на всех).</p>
    </columns>
</row>

<row>
    <columns>
        <p>
            В&nbsp;основе всех успешных компаний обязательно присутствует тесное общение между
            сотрудниками и&nbsp;их&nbsp;сотрудничество. И&nbsp;оно начинается не&nbsp;с&nbsp;собраний, оно начинается с&nbsp;построения
            доверия. Используйте это время для того чтобы побольше узнать о&nbsp;ваших коллегах. Будьте открыты,
            позитивны и&nbsp;уважительно относитесь к&nbsp;людям и&nbsp;их&nbsp;особенностям. Но&nbsp;самое главное,
            проведите время весело, так, чтобы этот совместный обед запомнился вам надолго :)
        </p>
    </columns>
</row>
