---
subject: Едоки этой пятницы!
---

<row class="collapse">
    <columns>
        <center>
            <img src="{{config.baseUrl}}/assets/img/winners-for-all.jpg" alt="Едоки этой пятницы"
                 width="199" height="238">
        </center>
    </columns>
</row>

<row>
    <columns>
        <p class="text-center">
            Итак, команда на&nbsp;новый спринт LunchTeam&nbsp;&mdash; сформирована.<br>
            Вот эти счастливчики!
        </p>
        <row>
            @foreach (var m in Model.Take(2)) {
                {{> user-card }}
            }
        </row>
        <row>
            @foreach (var m in Model.Skip(2)) {
                {{> user-card }}
            }
        </row>


    </columns>
</row>

<row>
    <columns>
        <p class="text-center">
            Выбор Искусственного Интеллекта пал на&nbsp;этих ребят в&nbsp;этот раз.<br>
            С&nbsp;каждым новым спринтом наш Искусственный Интеллект становится всё умнее и&nbsp;проницательнее.<br>
            Так что все шансы, что в&nbsp;следующий раз именно ты&nbsp;будешь среди участиков!<br>
            Обязательно пробуй на&nbsp;следующей неделе!
        </p>
    </columns>
</row>
