---
subject: LunchTeam новый спринт!
---
<row class="collapse">
    <columns>
        <img src="{{config.baseUrl}}/assets/img/new-sprint-logo.jpg" alt="Lunch Team"
             width="674" height="472">
    </columns>
</row>
<row>
    <columns>
        <p>Здравствуй, дорогой Коллега! </p>
        <p>В&nbsp;эту пятницу мы&nbsp;по&nbsp;традиции набираем команду на&nbsp;новый спринт
            небольшого, но&nbsp;ответственного проекта&nbsp;&mdash;&nbsp;LunchTeam.</p>
        <p>Вот цели на&nbsp;этот спринт:</p>


        <container>
            <row>
                <columns>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="19" valign="middle" class="bullet">
                                <img src="{{config.baseUrl}}/assets/img/bullet.png" alt="•">
                            </td>
                            <td>
                                &nbsp;вкусно поесть;
                            </td>
                        </tr>
                    </table>
                </columns>
            </row>
            <row>
                <columns>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="19" valign="middle" class="bullet">
                                <img src="{{config.baseUrl}}/assets/img/bullet.png" alt="•">
                            </td>
                            <td>
                                &nbsp;весело провести время;
                            </td>
                        </tr>
                    </table>
                </columns>
            </row>
            <row>
                <columns>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="19" class="bullet">
                                <img src="{{config.baseUrl}}/assets/img/bullet.png" alt="•">
                            </td>
                            <td>
                                &nbsp;рассказать команде такой факт о&nbsp;себе, который они точно не&nbsp;знают.
                            </td>
                        </tr>
                    </table>
                </columns>
            </row>
        </container>


        <p>Спринт стартует в&nbsp;<b class="accent">12:30, в пятницу, 14 октября.</b></p>
        <p>
            Длительность спринта&nbsp;&mdash; 1.5&nbsp;часа. В&nbsp;конце спринта&nbsp;&mdash;
            <strike>демо работающего продукта</strike> релиз фоток с&nbsp;похода на&nbsp;обед в&nbsp;
            <a href="\\yoda\CompanyLife\Lunch Team">нашу коллекцию</a>.<br><br>
            Состав команды определятся в&nbsp;автоматическом режиме с&nbsp;помощью Искусственного
            Интеллекта, с&nbsp;каждым разом всё более умного.
            <br><br>
            Заявку на&nbsp;участие нужно отправить до&nbsp;11:00 завтрашнего дня, но&nbsp;зачем ждать?<br>Жми прямо
            сейчас!
        </p>
    </columns>
</row>
<row>
    <columns>
        <a href="https://lunchteam.onesystems.ru/contest" class="text-center">
            <center>
                <img src="{{config.baseUrl}}/assets/img/participate-btn.jpg" alt="Участвую!"
                     width="267" height="67">
            </center>
        </a>
    </columns>
</row>