@import "../../Styles/ref";

.failed-contest {
  @include size(100%);
  min-height: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .imp {
    @media (max-width: $screen-xs-min), (max-height: $screen-xs-min) {
      display: none;
    }
  }

  .apologize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
}
