@import "../../Styles/ref";

.passed-contest {
  @include size(100%);
  min-height: 320px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .imp {
    @media (max-width: $screen-xs-min), (max-height: $screen-xs-min) {
      display: none;
    }
  }

  .congrats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    .yes-no {
      margin: 0 10px;
    }
  }
}