@import "../../Styles/ref";

.wizard {
  height: 100%;

  .member-name {
    font-weight: bold;
  }

  .full-image {
    width: 100%;

    @media (min-aspect-ratio: 1/1) {
      height: calc(100% - 200px);

      position: absolute;
      left: 0;
      bottom: 0;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom left;

      .question-img {
        display: none;
      }
    }
  }

  .full-variants {
    .progressbar-wrapper {
      width: 77%;
    }

    //position: absolute;
    right: 20%;
    top: 50%;
    transform: translate(11%, 50%);
    //transform: translate(11%, 0);

    .variants {
      font-weight: lighter;

      h1 {
        margin-bottom: 40px;
      }

      .options {
        margin-top: 20px;
        margin-bottom: 35px;
      }

      input[type="radio"] {
        margin-top: 12px;
      }

      label {
        font-weight: lighter;
      }
    }
  }

  .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-content: center;

    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    @media (max-height: 600px) {
      top: 40px;
    }

    header + p {
      margin-top: 20px;
    }

    .character {
      @media (max-height: 300px) {
        display: none;
      }

      @media (min-height: 300px) {
        padding-top: 20px;
      }

      overflow: hidden;
      text-align: center;
      width: 100%;

      max-height: (272px);
      max-width: (273px);

      img {
        width: auto;
        height: 100%;
        max-width: 100%;
      }
    }
  }

  .progressbar-wrapper {
    //margin-top: 30px;
    height: 55px;
    .stepper {
      //margin-bottom: 30px;
    }
  }

  .competition {
    margin: 30px 0 50px 0;
  }
}
