<columns small="6" class="user-card">
    <wrapper class="user-card_wrapper">
        <container>
            <row class="collapse" bgcolor="#f0f1f2">
                <columns valign="bottom" class="user-card_content">
                    <img src="{{avatarUrl}}" class="float-left" height="120" width="120"
                         alt="{{firstName}} {{lastName}}">
                </columns>
                <columns valign="middle">
                    <p>{{firstName}}</p>
                    <p>{{lastName}}</p>
                    <p class="user-card_job-position">{{jobPosition}}</p>

                    {{#if isDriver}}
                    <img class="user-card_car" src="http://lunchteam.onesystems.ru/assets/img/car.png"
                         width="20" height="16" alt="car"/>
                    {{/if}}
                </columns>
            </row>
        </container>
    </wrapper>
</columns>