@import "../../Styles/ref";

.imp {
  background-repeat: no-repeat;

  &.--hello {
    background-image: url("../../assets/images/Character-main-page.png");
    width: 293px;
    height: 241px;
  }

  &.--play {
    background-image: url("../../assets/images/Character-Lets-play.png");
    width: 273px;
    height: 272px;
  }

  &.--sad {
    background-image: url("../../assets/images/Character-sad.png");
    width: 423px;
    height: 319px;
  }

  &.--happy {
    background-image: url("../../assets/images/Character-Happy.png");
    width: 423px;
    height: 424px;
  }
}

