@import "../../../Styles/ref";

.hidden-user-avatar {
  .image-loader {
    height: 300px;
  }

  .small-user-avatar {
    $max-width: 40vmax;

    border-radius: 50%;
    max-width: $max-width;

    img {
      border-radius: 50%;
      width: 100%;
      max-width: $max-width;
    }
  }

  .large-user-avatar {
    width: 100%;
    height: calc(100% - 200px);
    z-index: -9999;

    position: absolute;
    left: 0;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
}