.topmost-wrapper {
  border: 1px solid #cccccc;
}

.bullet {
  padding-top: 3px;
}

.accent {
  color: #fac300;
}

.no-padding {
  padding: 0 !important;
}

.button {
  &.expand, &.expanded {
    td:not(.expander) {
      width: 100%;
    }
  }
}