$gap-between-cards: 6px;

.columns .user-card {
  padding-bottom: $gap-between-cards;

  .user-card_wrapper {
    background: white;

    .columns {
      padding-bottom: 0;
    }

    p {
      margin-bottom: 0;
      padding: 0;

      font-weight: bold;
      line-height: 16px;

      &.user-card_job-position {
        font-weight: normal;
        font-size: 12px;
        padding-top: 3px;
      }
    }

    .user-card_car {
      padding-top: 10px;
    }

    .wrapper-inner {
      padding-right: $gap-between-cards;
    }
  }
}