@import "../../Styles/ref";

.app-container {
  $top-row-height: 42px;

  @include size(100%);
  padding-top: 30px;

  &.--primary {
    .logo {
      background: url("../../assets/images/small-logo-white.png") no-repeat;
    }
  }

  &.--with-lunch {
    background: #000 url("../../assets/images/lunch.jpg") no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 5000px rgba(60, 60, 60, 0.6);

    .logo {
      display: none;
    }
  }

  .children {
    height: calc(100% - #{$top-row-height});
  }

  .logo {
    display: block;
    background: url("../../assets/images/small-logo.png") no-repeat;
    width: 34px;
    height: 40px;
  }
}
