<columns small="6" class="user-card">
    <wrapper class="user-card_wrapper">
        <container>
            <row class="collapse" bgcolor="#f0f1f2">
                <columns valign="bottom" class="user-card_content">
                    <img src="{{config.baseUrl}}/api/members/avatar/@m.MemberId" class="float-left" height="120" width="120"
                         alt="@m.Name">
                </columns>
                <columns valign="middle">
                    <p>@m.FirstName</p>
                    <p>@m.LastName</p>
                    <p class="user-card_job-position">@m.Position</p>

                    @if(m.IsDriver) {
                        <img class="user-card_car" src="{{config.baseUrl}}/assets/img/car.png" width="20" height="16" alt="car"/>
                    }
                </columns>
            </row>
        </container>
    </wrapper>
</columns>