{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
</head>
<body>
<!-- <style> -->
<span class="preheader">{{description}}</span>
<table class="body">
    <tr>
        <td class="center " align="center" valign="top">
            <center>
                <container class="topmost-wrapper">
                    {{> body}}

                    <row>
                        <columns valign="bottom" small="6">
                            С заботой, <br>
                            команда поваров<br>
                            One Systems
                        </columns>

                        <columns valign="bottom" class="no-padding" small="6">
                            <img src="{{config.baseUrl}}/assets/img/Character-cook.jpg" alt="">
                        </columns>
                    </row>
                </container>
            </center>
        </td>
    </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>

