---
subject: Едоки этой пятницы!
---

<row class="collapse">
    <columns>
        <center>
            <img src="http://lunchteam.onesystems.ru/assets/img/winners-for-all.jpg" alt="Едоки этой пятницы"
                 width="199" height="238">
        </center>
    </columns>
</row>

<row>
    <columns>
        <p class="text-center">
            Итак, команда на&nbsp;новый спринт LunchTeam&nbsp;&mdash; сформирована.<br>
            Вот эти счастливчики!
        </p>
        <row>
            {{>
                user-card
                    avatarUrl="http://lunchteam.onesystems.ru/api/members/avatar/263"
                    jobPosition="QA engineer"
                    firstName="Anna" lastName="Unru"
                    isDriver="true"
            }}
            {{> user-card avatarUrl="http://lunchteam.onesystems.ru/api/members/avatar/261" }}
        </row>
        <row>
            {{> user-card avatarUrl="http://lunchteam.onesystems.ru/api/members/avatar/217" }}
            {{> user-card avatarUrl="http://lunchteam.onesystems.ru/api/members/avatar/158" }}
        </row>


    </columns>
</row>

<row>
    <columns>
        <p class="text-center">
            Выбор Искусственного Интеллекта пал на&nbsp;этих ребят в&nbsp;этот раз.<br>
            С&nbsp;каждым новым спринтом наш Искусственный Интеллект становится всё умнее и&nbsp;проницательнее.<br>
            Так что все шансы, что в&nbsp;следующий раз именно ты&nbsp;будешь среди участиков!<br>
            Обязательно пробуй на&nbsp;следующей неделе!
        </p>
    </columns>
</row>
