﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="~/favicon.png">
    <title>LunchTeam</title>

    <environment Names="Staging,Production">
        <link rel="stylesheet" href="~/bootstrap.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/app.css" asp-append-version="true"/>
    </environment>
    <script src="https://use.typekit.net/ikd6xsx.js"></script>
    <script>
        try {
            Typekit.load({ async: true });
        } catch (e) {
        }
    </script>
</head>
<body>
@RenderBody()

<script src="~/polyfills.bundle.js" asp-append-version="true"></script>
<script src="~/vendor.bundle.js" asp-append-version="true"></script>

@RenderSection("scripts", required: false)
</body>
</html>