@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@mixin button-color-variant($color) {
  //@include button-variant($color, $color, $color);
  color: $color;

  &:focus,
  &.focus {
    color: darken($color, 25%);
    border-color: darken($color, 25%);
  }
  &:hover {
    color: darken($color, 12%);
    border-color: darken($color, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: darken($color, 12%);
    border-color: darken($color, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: darken($color, 25%);
      border-color: darken($color, 25%);
    }
  }
}

@mixin link-color-variant($color) {
  color: $color;

  &:focus,
  &.focus {
    color: darken($color, 25%);
  }

  &:hover {
    color: darken($color, 12%);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: darken($color, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: darken($color, 25%);
    }
  }
}
