@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin size($width, $height: null) {
  $height: $width !default;
  width: $width;
  height: $height;
}

@mixin no-outline {
  &,
  &:active,
  &:focus,
  &:hover {
    outline: none !important;
  }
}

@mixin no-text-decoration {
  &,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}