@import "ref";

.btn {
  border-width: 3px;
}

button, .btn {
  @include no-outline;
}

.btn-default {
  @include button-color-variant($btn-default-color);
}

.btn-primary {
  @include button-color-variant($btn-primary-color);
}

.btn-success {
  @include button-color-variant($btn-success-color);
}

.btn-info {
  @include button-color-variant($btn-info-color);
}

.btn-warning {
  @include button-color-variant($btn-warning-color);
}

.btn-danger {
  @include button-color-variant($btn-danger-color);
}

.btn-ordinal {
  @include button-color-variant(#333);
}

.btn-round {
  @include no-outline;
  @include no-text-decoration;
  @include size(40px);

  display: inline-block;

  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  border: 2px solid;
  border-radius: 50%;

  &-default {
    @include button-color-variant($btn-default-color);
  }

  &-primary {
    @include button-color-variant($btn-primary-color);
  }
}