@import "variables";

$size: 25px;

.circle {
  background-color: $color-default;
  border-radius: 50%;
  width: $size;
  height: $size;
}

.big-circle {
  @extend .circle;
  $mult: 5;

  width: $size*$mult;
  height: $size*$mult;
}