.full-height {
  height: 100%;
}

.user-card-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f1f2+0,d4d4d4+100 */
  background: #f0f1f2; /* Old browsers */
  background: -moz-linear-gradient(top, #f0f1f2 0%, #d4d4d4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0f1f2 0%, #d4d4d4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0f1f2 0%, #d4d4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f1f2', endColorstr='#d4d4d4', GradientType=0); /* IE6-9 */
}