@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$color-default: #2e343a;
$color-primary: #fac300;
$color-primary-hover: #ffb001;

$btn-font-weight: bold;

$btn-default-bg: transparent;
$btn-default-border: white;
$btn-default-color: white;

$btn-primary-bg: transparent;
$btn-primary-border: $color-primary;
$btn-primary-color: $color-primary;

$text-color: $color-default;

$padding-base-horizontal: 50px;
$padding-base-vertical: 6px;

$font-size-base: 24px;
$font-size-h1: 2em;

$font-family-sans-serif: "futura-pt", "Segoe UI", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$link-color: $text-color;
$link-hover-color: blue;