@import "ref";
@import "buttons";
@import "helper-classes";

html, body, #react-app {
  @include size(100%);
  font-family: "futura-pt", "Segoe UI", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  overflow-x: hidden;

  &.--primary {
    background-color: $color-primary;
  }
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato_regular.ttf") format('truetype');
}

a {
  @include link-color-variant($btn-primary-color);
  @include no-text-decoration();
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}