@import "../../Styles/ref";

.user-card {
  cursor: pointer;
  margin: 15px 0;
  position: relative;

  display: flex;

  .user-card-avatar {
    margin-right: 10px;
    flex-basis: 100%;

    .avatar {
      width: 100%;
    }
  }

  .user-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.1;

    font-size: 1.3em;

    .name {
      font-weight: bolder;
    }

    .position {
      font-size: 24px;
    }

    .car {
      margin-top: 10px;
      background: url("../../assets/images/car.png") no-repeat;
      width: 40px;
      height: 32px;
    }
  }
}
