@import "../../Styles/ref";

.loader-container {
  @include size(100%);
  display: flex;
  align-items: center;
}

.loader {
  $width: 100px;
  $height: 40px;
  $block-width: 6px;

  width: $width;
  height: $height;

  margin: 0 auto;
  text-align: center;
  font-size: 10px;

  > div {
    background-color: $color-primary;
    height: 100%;
    width: $block-width;
    display: inline-block;
    margin-right: 3px;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  &.large {
    width: $width*2;
    height: $height*2;
    > div {
      width: $block-width * 2;
    }
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
      -webkit-transform: scaleY(0.4)
    }
    20% {
      -webkit-transform: scaleY(1.0)
    }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

  &.center {
    position: absolute;
    margin: 0;
    top: 45%;
    left: 50%;
  }
}