﻿@model IReadOnlyList<LunchTeam.Domain.UserContestInfo>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width"><title>Поздравляем! Ты в команде!</title>
</head>
<body style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; box-sizing: border-box; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important">
<style>
    @@media only screen {
        html {
            min-height: 100%;
            background: #e6e7e8
        }
    }

    @@media only screen and (max-width: 716px) {
        table.body img {
            width: auto;
            height: auto
        }

        table.body center { min-width: 0 !important }

        table.body .container { width: 95% !important }

        table.body .columns {
            height: auto !important;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 42px !important;
            padding-right: 42px !important
        }

        table.body .columns .columns {
            padding-left: 0 !important;
            padding-right: 0 !important
        }

        table.body .collapse .columns {
            padding-left: 0 !important;
            padding-right: 0 !important
        }

        th.small-6 {
            display: inline-block !important;
            width: 50% !important
        }

        th.small-12 {
            display: inline-block !important;
            width: 100% !important
        }

        .columns th.small-12 {
            display: block !important;
            width: 100% !important
        }
    }
</style>
<span class="preheader" style="color: #e6e7e8; display: none !important; font-size: 1px; line-height: 1px; max-height: 0; max-width: 0; mso-hide: all !important; opacity: 0; overflow: hidden; visibility: hidden"></span>
<table class="body" style="Margin: 0; background: #e6e7e8; border-collapse: collapse; border-spacing: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; height: 100%; line-height: 1.5; margin: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
<tr style="padding: 0; text-align: left; vertical-align: top">
<td class="center" align="center" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.5; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
<center data-parsed="" style="min-width: 674px; width: 100%">
<table align="center" class="container topmost-wrapper float-center" style="Margin: 0 auto; background: #fefefe; border: 1px solid #ccc; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 674px">
<tbody>
<tr style="padding: 0; text-align: left; vertical-align: top">
<td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.5; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
<table class="row collapse" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
    <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top">
        <th class="small-12 large-12 columns first last" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 18px; padding-left: 0; padding-right: 0; text-align: left; width: 695px">
            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                <tr style="padding: 0; text-align: left; vertical-align: top">
                    <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                        <center data-parsed="" style="min-width: 548px; width: 100%">
                            <img src="https://lunchteam.onesystems.ru/assets/img/winners-logo.jpg" alt="Поздравляем!" width="297" height="237" align="center" class="float-center" style="-ms-interpolation-mode: bicubic; Margin: 0 auto; clear: both; display: block; float: none; margin: 0 auto; max-width: 100%; outline: 0; text-align: center; text-decoration: none; width: auto">
                        </center>
                    </th><th class="expander" style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
                </tr>
            </table>
        </th>
    </tr>
    </tbody>
</table>
<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
    <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top">
        <th class="small-12 large-12 columns first last" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 18px; padding-left: 42px; padding-right: 42px; text-align: left; width: 632px">
            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                <tr style="padding: 0; text-align: left; vertical-align: top">
                    <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                        <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
                            <tbody>
                            <tr style="padding: 0; text-align: left; vertical-align: top">
                                @foreach (var m in Model.Take(2)) {
                                    <th class="user-card small-6 large-6 columns first last" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 6px; padding-left: 0 !important; padding-right: 0 !important; text-align: left; width: 50%">
                                        <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                                            <tr style="padding: 0; text-align: left; vertical-align: top">
                                                <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                                                    <table class="wrapper user-card_wrapper" align="center" style="background: #fff; border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                                                        <tr style="padding: 0; text-align: left; vertical-align: top">
                                                            <td class="wrapper-inner" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.5; margin: 0; padding: 0; padding-right: 6px; text-align: left; vertical-align: top; word-wrap: break-word">
                                                                <table align="center" class="container" style="Margin: 0 auto; background: #fefefe; border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: top; width: 100%">
                                                                    <tbody>
                                                                    <tr style="padding: 0; text-align: left; vertical-align: top">
                                                                        <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.5; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
                                                                            <table bgcolor="#f0f1f2" class="row collapse" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
                                                                                <tbody>
                                                                                <tr style="padding: 0; text-align: left; vertical-align: top">
                                                                                    <th class="user-card_content small-12 large-6 columns first" valign="bottom" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 0; padding-left: 0 !important; padding-right: 0 !important; text-align: left; width: 50%">
                                                                                        <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                                                                                            <tr style="padding: 0; text-align: left; vertical-align: top">
                                                                                                <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                                                                                                    <img src="https://lunchteam.onesystems.ru/api/avatar/user/@m.UserLogin" class="float-left" height="120" width="120" alt="@m.FullName" style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: left; max-width: 100%; outline: 0; text-align: left; text-decoration: none; width: auto">
                                                                                                </th>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </th><th class="small-12 large-6 columns last" valign="middle" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 0; padding-left: 0 !important; padding-right: 0 !important; text-align: left; width: 50%">
                                                                                        <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                                                                                            <tr style="padding: 0; text-align: left; vertical-align: top">
                                                                                                <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                                                                                                    <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 700; line-height: 16px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">@m.FirstName</p>
                                                                                                    <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 700; line-height: 16px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">@m.LastName</p>
                                                                                                    <p class="user-card_job-position" style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; margin: 0; margin-bottom: 0; padding: 0; padding-top: 3px; text-align: left">@m.JobPosition</p>
                                                                                                    @if (m.IsDriver) {
                                                                                                        <img class="user-card_car" src="https://lunchteam.onesystems.ru/assets/img/car.png" width="20" height="16" alt="car" style="-ms-interpolation-mode: bicubic; clear: both; display: block; max-width: 100%; outline: 0; padding-top: 10px; text-decoration: none; width: auto">
                                                                                                    }
                                                                                                </th>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </th>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                }</tr>
                            </tbody>
                        </table>
                        <table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
                            <tbody>
                            <tr style="padding: 0; text-align: left; vertical-align: top">
                                @foreach (var m in Model.Skip(2)) {
                                    <th class="user-card small-6 large-6 columns first last" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 6px; padding-left: 0 !important; padding-right: 0 !important; text-align: left; width: 50%">
                                        <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                                            <tr style="padding: 0; text-align: left; vertical-align: top">
                                                <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                                                    <table class="wrapper user-card_wrapper" align="center" style="background: #fff; border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                                                        <tr style="padding: 0; text-align: left; vertical-align: top">
                                                            <td class="wrapper-inner" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.5; margin: 0; padding: 0; padding-right: 6px; text-align: left; vertical-align: top; word-wrap: break-word">
                                                                <table align="center" class="container" style="Margin: 0 auto; background: #fefefe; border-collapse: collapse; border-spacing: 0; margin: 0 auto; padding: 0; text-align: inherit; vertical-align: top; width: 100%">
                                                                    <tbody>
                                                                    <tr style="padding: 0; text-align: left; vertical-align: top">
                                                                        <td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; hyphens: auto; line-height: 1.5; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
                                                                            <table bgcolor="#f0f1f2" class="row collapse" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
                                                                                <tbody>
                                                                                <tr style="padding: 0; text-align: left; vertical-align: top">
                                                                                    <th class="user-card_content small-12 large-6 columns first" valign="bottom" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 0; padding-left: 0 !important; padding-right: 0 !important; text-align: left; width: 50%">
                                                                                        <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                                                                                            <tr style="padding: 0; text-align: left; vertical-align: top">
                                                                                                <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                                                                                                    <img src="https://lunchteam.onesystems.ru/api/avatar/user/@m.UserLogin" class="float-left" height="120" width="120" alt="@m.FullName" style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: left; max-width: 100%; outline: 0; text-align: left; text-decoration: none; width: auto">
                                                                                                </th>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </th><th class="small-12 large-6 columns last" valign="middle" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 0; padding-left: 0 !important; padding-right: 0 !important; text-align: left; width: 50%">
                                                                                        <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                                                                                            <tr style="padding: 0; text-align: left; vertical-align: top">
                                                                                                <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                                                                                                    <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 700; line-height: 16px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">@m.FirstName</p>
                                                                                                    <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 700; line-height: 16px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">@m.LastName</p>
                                                                                                    <p class="user-card_job-position" style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; margin: 0; margin-bottom: 0; padding: 0; padding-top: 3px; text-align: left">@m.JobPosition</p>
                                                                                                    @if (m.IsDriver) {
                                                                                                        <img class="user-card_car" src="https://lunchteam.onesystems.ru/assets/img/car.png" width="20" height="16" alt="car" style="-ms-interpolation-mode: bicubic; clear: both; display: block; max-width: 100%; outline: 0; padding-top: 10px; text-decoration: none; width: auto">
                                                                                                    }
                                                                                                </th>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </th>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>
                                    </th>
                                }</tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
            </table>
        </th>
    </tr>
    </tbody>
</table>
<table class="row contest-winner-congrats" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
    <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top">
        <th class="contest-winner-congrats_what-to-do small-12 large-12 columns first last" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 18px; padding-left: 42px; padding-right: 42px; text-align: left; width: 632px">
            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                <tr style="padding: 0; text-align: left; vertical-align: top">
                    <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                        <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">Что дальше?</p>
                        <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">
                            <span class="accent" style="color: #fac300">1.&nbsp;</span>Договоритесь куда сходить;
                        </p>
                        <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">
                            <span class="accent" style="color: #fac300">2.&nbsp;</span>Проведите время весело и&nbsp;с&nbsp;пользой;
                        </p>
                        <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">
                            <span class="accent" style="color: #fac300">3.&nbsp;</span>Попросите официанта сделать ваше фото
                        </p>
                        <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">
                            <span class="accent" style="color: #fac300">4.&nbsp;</span>Принесите чек и&nbsp;фото в&nbsp;бухгалтерию.
                        </p>
                        <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 28px; margin: 0; margin-bottom: 0; padding: 0; text-align: left">(Максимальный чек на&nbsp;возмещение 1500р на всех).</p>
                    </th><th class="expander" style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
                </tr>
            </table>
        </th>
    </tr>
    </tbody>
</table>
<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
    <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top">
        <th class="small-12 large-12 columns first last" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 18px; padding-left: 42px; padding-right: 42px; text-align: left; width: 632px">
            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                <tr style="padding: 0; text-align: left; vertical-align: top">
                    <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                        <p style="Margin: 0; Margin-bottom: 16px; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; margin-bottom: 16px; padding: 0; text-align: left">В&nbsp;основе всех успешных компаний обязательно присутствует тесное общение между сотрудниками и&nbsp;их&nbsp;сотрудничество. И&nbsp;оно начинается не&nbsp;с&nbsp;собраний, оно начинается с&nbsp;построения доверия. Используйте это время для того чтобы побольше узнать о&nbsp;ваших коллегах. Будьте открыты, позитивны и&nbsp;уважительно относитесь к&nbsp;людям и&nbsp;их&nbsp;особенностям. Но&nbsp;самое главное, проведите время весело, так, чтобы этот совместный обед запомнился вам надолго :)</p>
                    </th><th class="expander" style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
                </tr>
            </table>
        </th>
    </tr>
    </tbody>
</table>
<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
    <tbody>
    <tr style="padding: 0; text-align: left; vertical-align: top">
        <th class="small-6 large-6 columns first" valign="bottom" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0; padding-bottom: 18px; padding-left: 42px; padding-right: 21px; text-align: left; width: 295px">
            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                <tr style="padding: 0; text-align: left; vertical-align: top">
                    <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">С заботой,<br>команда поваров<br>One Systems</th>
                </tr>
            </table>
        </th><th class="no-padding small-6 large-6 columns last" valign="bottom" style="Margin: 0 auto; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0 auto; padding: 0 !important; padding-bottom: 18px; padding-left: 21px; padding-right: 42px; text-align: left; width: 295px">
            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                <tr style="padding: 0; text-align: left; vertical-align: top">
                    <th style="Margin: 0; color: #0a0a0a; font-family: 'Segoe UI', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.5; margin: 0; padding: 0; text-align: left">
                        <img src="https://lunchteam.onesystems.ru/assets/img/Character-cook.jpg" alt="" style="-ms-interpolation-mode: bicubic; clear: both; display: block; max-width: 100%; outline: 0; text-decoration: none; width: auto">
                    </th>
                </tr>
            </table>
        </th>
    </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</table><!-- prevent Gmail on iOS font size manipulation -->
<div style="display: none; white-space: nowrap; font: 15px courier; line-height: 0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>
</html>