﻿@model string

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>LunchTeam новый спринт!</title>
  </head>
  <body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;box-sizing:border-box;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
    <style>@@media only screen{html{min-height:100%;background:#e6e7e8}}@@media only screen and (max-width:716px){table.body img{width:auto;height:auto}table.body center{min-width:0!important}table.body .container{width:95%!important}table.body .columns{height:auto!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:42px!important;padding-right:42px!important}table.body .columns .columns{padding-left:0!important;padding-right:0!important}table.body .collapse .columns{padding-left:0!important;padding-right:0!important}th.small-6{display:inline-block!important;width:50%!important}th.small-12{display:inline-block!important;width:100%!important}.columns th.small-12{display:block!important;width:100%!important}}</style>
    <span class="preheader" style="color:#e6e7e8;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
    <table class="body" style="Margin:0;background:#e6e7e8;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.5;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
      <tr style="padding:0;text-align:left;vertical-align:top">
        <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
          <center data-parsed="" style="min-width:674px;width:100%">
            <table align="center" class="container topmost-wrapper float-center" style="Margin:0 auto;background:#fefefe;border:1px solid #ccc;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:674px">
              <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                  <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <table class="row collapse" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                      <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                          <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:18px;padding-left:0;padding-right:0;text-align:left;width:695px">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                              <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left"><img src="https://lunchteam.onesystems.ru/assets/img/new-sprint-logo.jpg" alt="Lunch Team" width="674" height="472" style="-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></th>
                                <th class="expander" style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                      <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                          <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:18px;padding-left:42px;padding-right:42px;text-align:left;width:632px">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                              <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left">
                                  <p style="Margin:0;Margin-bottom:16px;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;margin-bottom:16px;padding:0;text-align:left">Здравствуй, дорогой Коллега!</p>
                                  <p style="Margin:0;Margin-bottom:16px;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;margin-bottom:16px;padding:0;text-align:left">На&nbsp;этой неделе мы&nbsp;по&nbsp;традиции набираем команду на&nbsp;новый спринт небольшого, но&nbsp;ответственного проекта&nbsp;&mdash;&nbsp;LunchTeam.</p>
                                  <p style="Margin:0;Margin-bottom:16px;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;margin-bottom:16px;padding:0;text-align:left">Вот цели на&nbsp;этот спринт:</p>
                                  <table align="center" class="container" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:100%">
                                    <tbody>
                                      <tr style="padding:0;text-align:left;vertical-align:top">
                                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                          <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                              <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:18px;padding-left:0!important;padding-right:0!important;text-align:left;width:100%">
                                                  <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                      <th style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td width="19" valign="middle" class="bullet" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;padding-top:3px;text-align:left;vertical-align:top;word-wrap:break-word"><img src="https://lunchteam.onesystems.ru/assets/img/bullet.png" alt="•" style="-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></td>
                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;вкусно поесть;</td>
                                                          </tr>
                                                        </table>
                                                      </th>
                                                      <th class="expander" style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                    </tr>
                                                  </table>
                                                </th>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                              <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:18px;padding-left:0!important;padding-right:0!important;text-align:left;width:100%">
                                                  <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                      <th style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td width="19" valign="middle" class="bullet" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;padding-top:3px;text-align:left;vertical-align:top;word-wrap:break-word"><img src="https://lunchteam.onesystems.ru/assets/img/bullet.png" alt="•" style="-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></td>
                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;весело провести время;</td>
                                                          </tr>
                                                        </table>
                                                      </th>
                                                      <th class="expander" style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                    </tr>
                                                  </table>
                                                </th>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                              <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:18px;padding-left:0!important;padding-right:0!important;text-align:left;width:100%">
                                                  <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                      <th style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <td width="19" class="bullet" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;padding-top:3px;text-align:left;vertical-align:top;word-wrap:break-word"><img src="https://lunchteam.onesystems.ru/assets/img/bullet.png" alt="•" style="-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></td>
                                                            <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;рассказать команде такой факт о&nbsp;себе, который они точно не&nbsp;знают.</td>
                                                          </tr>
                                                        </table>
                                                      </th>
                                                      <th class="expander" style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                                                    </tr>
                                                  </table>
                                                </th>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p style="Margin:0;Margin-bottom:16px;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;margin-bottom:16px;padding:0;text-align:left">Спринт стартует <b class="accent" style="color:#fac300">@Model.</b></p>
                                  <p style="Margin:0;Margin-bottom:16px;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;margin-bottom:16px;padding:0;text-align:left">Длительность спринта&nbsp;&mdash; 1.5&nbsp;часа. В&nbsp;конце спринта&nbsp;&mdash; <strike>демо работающего продукта</strike> релиз фоток с&nbsp;похода на&nbsp;обед в&nbsp; <a href="\\yoda\CompanyLife\Lunch Team" style="Margin:0;color:#2199e8;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left;text-decoration:none">нашу коллекцию</a>.<br><br>Состав команды определятся в&nbsp;автоматическом режиме с&nbsp;помощью Искусственного Интеллекта, с&nbsp;каждым разом всё более умного.<br><br>Заявку на&nbsp;участие нужно отправить до&nbsp;11:00 завтрашнего дня, но&nbsp;зачем ждать?<br>Жми прямо сейчас!</p>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                      <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                          <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:18px;padding-left:42px;padding-right:42px;text-align:left;width:632px">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                              <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left">
                                  <a href="https://lunchteam.onesystems.ru/contest" class="text-center" style="Margin:0;color:#2199e8;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left;text-decoration:none">
                                    <center data-parsed="" style="min-width:548px;width:100%"><img src="https://lunchteam.onesystems.ru/assets/img/participate-btn.jpg" alt="Участвую!" width="267" height="67" align="center" class="float-center" style="-ms-interpolation-mode:bicubic;Margin:0 auto;border:none;clear:both;display:block;float:none;margin:0 auto;max-width:100%;outline:0;text-align:center;text-decoration:none;width:auto"></center>
                                  </a>
                                </th>
                                <th class="expander" style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                      <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                          <th class="small-6 large-6 columns first" valign="bottom" style="Margin:0 auto;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:18px;padding-left:42px;padding-right:21px;text-align:left;width:295px">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                              <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left">С заботой,<br>команда поваров<br>One Systems</th>
                              </tr>
                            </table>
                          </th>
                          <th class="no-padding small-6 large-6 columns last" valign="bottom" style="Margin:0 auto;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0 auto;padding:0!important;padding-bottom:18px;padding-left:21px;padding-right:42px;text-align:left;width:295px">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                              <tr style="padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#0a0a0a;font-family:'Segoe UI',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left"><img src="https://lunchteam.onesystems.ru/assets/img/Character-cook.jpg" alt="" style="-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none;white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
  </body>
</html>